body {
   font-family: 'Roboto', OpenSans;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #434455;
   background: #FFFFFF;
}

ul {
   list-style-type: none;
}


a {
   text-decoration: none;
}



/*------ HEADER------ */
.header-all {
   font-weight: 600;
   font-size: 16px;
   color: #2E2F42;
   background: #FFFFFF;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation a {
   text-decoration: none;
   color: #2E2F42;
}

.logo-header {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
}

.web {
   color: #4D5AE5;
}

.contacts {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
}

.slogan {
   background: #2E2F42;
}

.h1 {
   font-weight: 600;
   font-size: 56px;
   line-height: 60px;
   text-align: center;
   letter-spacing: 0.02em;
   color: #FFFFFF;
}

.btn-оrderservice { font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
   background: #4D5AE5;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

.h2 {
   font-size: 36px;
   line-height: 40px;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2E2F42;
}

.h3 {
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #2E2F42;
}


/*------FOOTER-----*/
.footer {
   background: #2E2F42;
}

.logo-infooter {
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #F4F4FD;
}

.tagline {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #E7E9FC;
}